// Navigation Styles here
nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .DashBorder;
  .PaddingLR;

  .navLinks {
    display: flex;
    justify-content: space-evenly;
    
    width: 100% * (380/800);
    a {
      color: @font-color;
      font-size: 1.7rem;
      letter-spacing: -.1rem;
    }
  }
}
